profiles {

    standard {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }

    }

    docker {

        docker {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    podman {

        podman {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-v "$TMPDIR":"$TMPDIR"'

        }
    
    }

    singularity {

        singularity {

            enabled                 = true

            envWhitelist            = "SLURM_CPUS_ON_NODE"

            runOptions              = '-B "$TMPDIR"'

            autoMounts              = true

        }
    
    }

    prep_db {

        params.prep_db              = true

        params.get_taxonomy         = false

    }

    kraken2 {

        params.prep_db              = false

        params.get_taxonomy         = true

    }

}

process {

    executor                    = "slurm"

    clusterOptions              = "-A ucgd-rw --partition ucgd-rw -N 1"

    queueSize                   = 20
        
    errorStrategy               = "finish"

    withLabel: trimgalore {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/mtb-call/mtb-call_trimgalore.sif"

    }

    withLabel: kraken2 {

        container               = "file:///uufs/chpc.utah.edu/common/HIPAA/u1084359/work_dir/singularity_images/mtb-call/mtb-call_kraken2.sif"

    }

}

params {
    
    // Main paths

    reads_manifest_path             = "/path/to/reads/manifest.tsv"

    kraken_database_path            = "/path/to/kraken2/db"

}
